work_dir: ./work_dir/my_agcn
model_saved_name: ./runs/my_cs_agcn
# feeder
feeder: feeders.feeder.Feeder
train_feeder_args:
  data_path: ./data/mydata/gen/xsub/train_data_joint.npy
  label_path: ./data/mydata/gen/xsub/train_label.pkl
  debug: False
  random_choose: False
  random_shift: False
  random_move: False
  window_size: -1
  normalization: False

test_feeder_args:
  data_path: ./data/mydata/gen/xsub/val_data_joint.npy
  label_path: ./data/mydata/gen/xsub/val_label.pkl

# model
model: model.agcn.Model
model_args:
  num_class: 27
  num_point: 17
  num_person: 2
  graph: graph.my_graph.Graph
  graph_args:
    labeling_mode: 'spatial'

#optim
weight_decay: 0.0001
base_lr: 0.1
step: [30, 40]

# training
device: [0, 1]
batch_size: 8
test_batch_size: 8
num_epoch: 50
nesterov: True

